.noto-sans-tc-uniquifier {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.banner {
  margin-top: 35px;
  background-image:
    url(picture/back/about.png),
    linear-gradient(to left, rgba(244, 144, 107, 0.5), rgba(255, 255, 255, 0.2));

  background-repeat:
    no-repeat,
    no-repeat;

  background-position:
    bottom right,
    center;

  /* 👇這裡設定每一層的大小 */
  background-size:
    70%,
    100%;
    /* 第二層漸層覆蓋整個背景 */
  
}

.banner-text {
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  position: relative;
  font-family: "Noto Sans TC";
}
.banner-text small{
  display: none;
}


@media screen and (min-width:768px) {
  .banner {
    background-position:
      bottom right,
      center,
      bottom center;
    background-size:
      50%,
      /* 第一層圖片縮小到容器寬度的 40% */
      100%,
      /* 第二層漸層覆蓋整個背景 */
      cover;
    /* 第三層鋪滿底圖 */
  }

  .banner-text {
    padding: 80px;
    margin-left: 10px;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 20px;
  }

  .banner-text small {
    display: block;
    color: #242424;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    left: 80px;
    font-weight: 500;
  }
}

@media screen and (min-width:1024px) {
  .banner {
    /* margin-top: 150px; */
    background-size:
      40%,
      100%,
      /* 第二層漸層覆蓋整個背景 */
      cover;
    /* 第三層鋪滿底圖 */
    background-position:
      bottom right,
      center,
      bottom center;
  }

  .banner-text {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 80px;
  }
  .banner-text small {
    font-size: 20px;
    position: absolute;
    bottom: 40px;
  }
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
}

.about-pic {
  margin-top: 40px;
  z-index: 3;
}

.about-pic img {
  width: 314px;
  height: 209px;
  border-radius: 20px;
}

.about-text {
  background-color: #fff4e285;
  transform: translateY(-50PX);
  border-radius: 10px;
  padding: 0 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.about-text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  padding: 0px 20px;
}

.about-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  font-size: 20px;
  text-align: center;
  padding: 8px 1px;
  margin-top: 25px;
}

.about-more a,
.serve-more a {
  color: #000000;
  text-decoration: none;

}

.about-more:hover,
.serve-more:hover {
  background-color: #F4906B;
}

@media screen and (min-width:1024px) {
  .container-about {
    background-image:
      url(picture/back/right.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: right 10px bottom -30px;
    background-size: 30%;
    padding-bottom: 20px;
  }

  .about-pic {
    margin-top: 20px;
  }

  .about-pic img {
    width: 455px;
    height: 303px;
  }

  .about-flex {
    flex-direction: row;
    justify-content: center;
    margin-top: -80px;
  }

  .about-text {
    width: 550px;
    margin-top: 130px;
    padding: 0 40px;
    transform: translateY(30px);
    transform: translateX(-30px);
  }

  .about-text h2 {
    justify-self: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 4.8px;
  }

  .about-text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width:1440px) {
   .about-pic img {
    width: 617px;
    height: 411px;
  }

}

.team-title h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  margin-top: 10px;
}

.team-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-pic {
  margin-top: 34px;
  margin-bottom: 15px;
  filter: drop-shadow(1px 2px 2px hwb(0 39% 61% / 0.3));
  
}

.team-pic img{
  border-radius: 10px;
}

.team-text p {
  line-height: 28px;
  letter-spacing: 1px;
}

.team-text p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

@media screen and (min-width:768px) {
  .container-team {
    background-image:
      url(picture/back/lift.png),
      url(picture/back/right.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: left 10px top 60px,right 10px bottom 30px;
    background-size: 40%;
   margin-bottom: 50px;
}
.team-wrap{
  flex-direction: row;
  justify-content: space-evenly;
}
}
@media screen and (min-width:1024px) {
  .container-team {
    background-image:
      url(picture/back/lift.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: left 10px top 60px;
    background-size: 30%;
   margin-bottom: 50px;
  }

  .team-title h2 {
    font-size: 30px;
    letter-spacing: 4.8px;
    margin-top: 67px;
    margin-bottom: 20px;
  }

  .team-wrap {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .team-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .team-text p {
    /* margin-right: 44px; */
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
  }

  .team-text p:nth-of-type(1) {
    font-size: 30px;
    line-height: 60px;
  }

  .team-pic {
    margin-top: 120px;

  }

  .team-pic img {
    width: 200px;
  }

.team-wrap:last-child {
  margin-top: -80px;
}

  .team-wrap:last-child .team-text:nth-last-of-type(-n+2) {
    margin-top: 50px;
    margin-right: 40px;
  }

  .team-card:nth-child(2) .team-text:nth-last-of-type(1) {
    margin-right: 40px;
    padding-left: 25px;
  }
  .team-card:nth-child(1) .team-text{
   margin-right: 10px;
}
}

.container-hospital {
  background-color: #fff4e285;
  margin-bottom: -40px;
  margin-top: 30px;
}

.hospital-title h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: "Noto Sans TC";
}

.hospital-pic-wrap {
  display: flex;
  padding-bottom: 30px;
}

.hospital-pic-wrap .hospital-pic:nth-child(2),
.hospital-pic-wrap .hospital-pic:nth-child(3) {
  display: none;
  /*記得到時候刪掉*/
}

.hospital-pic img {
  width: 350px;
}

@media screen and (min-width:768px) {
  .container-hospital {
    margin-top: 100px;
  }

  .hospital-title h2 {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 30px;
    letter-spacing: 4.8px;
  }

  .hospital-pic-wrap {
    padding-bottom: 50px;
  }

  .hospital-pic {
    margin-right: 10px;
    margin-left: 20px;
  }

  .hospital-pic-wrap .hospital-pic:nth-child(3) {
    display: inline-block;
    /*記得到時候刪掉*/
  }

  .hospital-pic img {
    width: 550px;
    margin-right: 25px;
    margin-left: 25px;
  }
}

@media screen and (min-width:1440px) {

  .hospital-pic-wrap .hospital-pic:nth-child(2) {
    display: inline-block;
    /*記得到時候刪掉*/
  }
}
