.noto-sans-tc-uniquifier {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.banner {
  width: 100%;
  /* max-width: 1920px; */
  margin-top: 35px;
  background-image:
    url(picture/back/cute-animals-group-white-background-removebg-preview.png),
    linear-gradient(to left, rgba(160, 196, 157, 0.5), rgba(255, 255, 255, 0.2));

  background-repeat:
    no-repeat,
    no-repeat;

  background-position:
    bottom right,
    center;

  /* 👇這裡設定每一層的大小 */
  background-size:
    35%,
    /* 第一層圖片縮小到容器寬度的 40% */
    100%;
}

.banner-text {
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  position: relative;
}

.banner-text small {
  display: none;
  color: #242424;
   font-weight: 500;
}

@media screen and (min-width:768px) {
  .banner {
    background-position:
      bottom right,
      center;
    background-size:
      30%,
      /* 第一層圖片縮小到容器寬度的 40% */
      100%;
  }

  .banner-text {
    padding: 80px;
    margin-left: 10px;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 20px;
  }

  .banner-text small {
    display: block;
    color: #242424;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    left: 80px;
    font-weight: 500;
  }
}

@media screen and (min-width:1024px) {
  .banner {
    /* margin-top: 150px; */
    background-size:
      25%,
      100%;
    
    background-position:
      bottom right,
      center;
  }

  .banner-text {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 80px;
  }
  .banner-text small {
    font-size: 20px;
    position: absolute;
    bottom: 40px;
  }
}


.container-feedback {
  width: 100%;

}

.feadback-card {
  padding: 0 50px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.feadback-pic {
  text-align: center;
  filter: drop-shadow(1px 2px 2px rgba(103, 103, 103, 0.5));
}

.feadback-text {
  margin-top: 25px;
  background-color: #c0e0bd;
  border: 1px solid #c0e0bd;
  border-radius: 20px;
  border-bottom: 5px solid #a0c49d;
  border-right: 3px solid #a0c49d;
  padding: 20px 30px;
  margin-top: -40px;
  position: relative;
}

.feadback-text p {
  width: fit-content;
  line-height: 28px;
}

.feadback-text p:nth-of-type(1) {
  font-weight: bold;
  background-color: #ffbca3;
  border-bottom: 2px solid #ff9c77;
  border-right: 2px solid #ff9c77;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  left: 15px;
  padding: 5px 10px;
}

.more-flex{
  display: flex;
  justify-content: center;
}

.more {
  width: 20px;
  border: 1px solid #FFBCA3;
  border-radius: 50px;
  background-color: #FFBCA3;
  font-size: 20px;
  margin: 0 20px;
  text-align: center;
  padding: 20px 20px;
}

@media screen and (min-width:768px) {
  .container-feedback {
    /* position: relative;  父層相對定位：讓腳印能定位 */

    background-image:
      url(picture/back/right.png),
      /* 右上腳印 */
      url(picture/back/lift.png);
    /* 左下腳印 */

    background-repeat: no-repeat, no-repeat;

    background-position:
      right 40px top 40px,
      /* 調整右上腳印 */
      left 40px bottom 150px;
    /* 調整左下腳印 */

    background-size:
      50%,
      /* 右上腳印大小 */
      45%;
    /* 左下腳印大小 */
  }
  
  .feadback-card {
    padding: 0 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .feadback-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .feadback-text {
    margin: 0 10px;
  }
}

@media screen and (min-width:1024px) {
  .container-feedback {
    /* position: relative;  父層相對定位：讓腳印能定位 */

    background-image:
      url(picture/back/right.png),
      /* 右上腳印 */
      url(picture/back/lift.png);
    /* 左下腳印 */

    background-repeat: no-repeat, no-repeat;

    background-position:
      right 40px top 40px,
      /* 調整右上腳印 */
      left 40px bottom 40px;
    /* 調整左下腳印 */

    background-size:
      40%,
      /* 右上腳印大小 */
      35%;
    /* 左下腳印大小 */
  }

  .feadback-card {
    padding: 0 200px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .feadback-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .feadback-text {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    line-height: 30PX;
    letter-spacing: 3px;
    transform: translateY(0);
    transition: transform .5s .1s;
  }
  .feadback-text:hover{
    color: rgb(65, 55, 55);
    transform: translateY(-10px);
  } 
  
 .feadback-text p:nth-of-type(2){
  line-height: 35px;
 
 }
}

.more {
  padding: 20px 25px;
}

.more a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
}

.more:hover {
  background-color: #F4906B;
}
