#menu-control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.header {
  width: 100%;
  /* max-width: 1920px; */
  height: 47px;
  background-color: #F3D7AA;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.logo {
  text-align: center;
}

.logo img {
  width: 45px;
  height: 45px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  /* background-color: rgb(147, 55, 55); */
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}

.menu-btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu-btn::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 2px;
  background-color: #000000;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #000000,
    0px -8px 0px #000000;
}

nav {
   width: 80%;
  height: 100vh;
  background-color: #f7d39a;
  position: fixed;   /* ★ 修正，讓選單浮在 header 外 */
  top: 47px;         /* 保持一樣，不跑到 header 上 */
  right: -100%;
  transition: 0.5s;
  z-index: 300;      /* ★ 保證比 overlay 高 */
}

nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 15px 20px;
  /* border-bottom: 1px solid #aaaaaa; */
  position: relative;
}

nav a+a::before{
  content: "";
  width: 300px;
  height: 5px;
  border-top: 1px solid #aaaaaa;
  position: absolute;
  top: 0;
  bottom: 0;
}

nav a:hover {
  color: #878787;
}

 /* 淡灰色背景 */
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);  /* 透明灰 */
    display: none;
    z-index: 150;
  }

  .overlay.active {
    display: block;
  }

#menu-control:checked~.header nav {
  right: 0;
}

.menu-btn1 span{
  font-size: 20px;
  display: block;
  text-align: right;
  margin: 10px 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@media screen and (min-width:768px){
  .menu-btn {
    display: none;
  }

  .menu-btn1{
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  nav {
    position: relative;
    right: 0;
    /* display: flex; */
    width: auto;
    height: auto;
    top: 0;
    margin-right: 20px;
    background-color: #F3D7AA;
  }

  nav a {
    display: inline-block;
    border-bottom: none;
    padding: 10px 10px;
  }
  nav a+a::before{
    opacity: 0;
  }

  nav a:hover {
  transform: translateY(-5px);
}

  .logo {
    margin-left: 100px;
  }

  .logo img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width:1024px) {
  .menu-btn {
    display: none;
  }

  .menu-btn1{
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  nav {
    position: relative;
    right: 0;
    /* display: flex; */
    width: auto;
    height: auto;
    top: 0;
    margin-right: 40px;
    background-color: #F3D7AA;
  }

  nav a {
    display: inline-block;
    border-bottom: none;
    font-size: 20px;
    padding: 10px 10px;
  }

  nav a:hover {
  transform: translateY(-5px);
}

  .logo {
    margin-left: 200px;
  }

  .logo img {
    width: 90px;
    height: 90px;
  }
}
.container-footer {
  background-color: #F3D7AA;
  margin-top: 30px;
  position: relative;
}

.footer-logo {
  text-align: center;
  /* padding-bottom: 200px; */
}

.footer-logo img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}

.footer-colum {
  /* position: absolute;
  top: 100px;
  right: 100px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.footer-text {
  display: flex;
  margin-bottom: 13px;
  justify-content: center;
  width: fit-content;
}

.footer-icon {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
}

.footer-icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
@media screen and (min-width:768px){
  .container-footer {
    display: flex;
  }

  .footer-logo {
   padding-bottom: 10px;

  }

  .footer-logo img {
    margin-left: 100px;
    width: 132px;
    height: 132px;
  }

  .footer-colum {
    position: absolute;
    top: 30px;
    right: 250px;

  }

  .footer-text {
    align-self: flex-start;
  }

  .footer-icon {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

@media screen and (min-width:1024px) {
  .footer-logo {
    margin-top: 20px;
  }

  .footer-logo img {
    margin-left: 200px;
    width: 142px;
    height: 142px;
  }

  .footer-text {
    font-size: 20px;
    align-self: flex-start;
  }

  .footer-icon {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}

@media screen and (min-width:1024px){
html, body {
  cursor: url('picture/images/foot.png') 8 6, auto;
}
}