#menu-control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.header {
  width: 100%;
  /* max-width: 1920px; */
  height: 47px;
  background-color: #F3D7AA;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  text-align: center;
}

.logo img {
  width: 45px;
  height: 45px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  /* background-color: rgb(147, 55, 55); */
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}

.menu-btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu-btn::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  left: 2px;
  background-color: #878787;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px #878787,
    0px -8px 0px #878787;
}

nav {
  width: 30%;
  height: calc(100hv-47px);
  background-color: #F3D7AA;
  position: absolute;
  top: 47px;
  right: -300px;
  transition: 0.5s;
  z-index: 1;
}

nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  /* border-bottom: 1px solid #878787; */
  font-family: "Noto Sans TC";
}

nav a:hover {
  color: #878787;
}

#menu-control:checked~.header nav {
  right: 0;
}

@media screen and (min-width:768px) {
  .menu-btn {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  nav {
    position: relative;
    right: 0;
    /* display: flex; */
    width: auto;
    height: auto;
    top: 0;
    margin-right: 40px;
  }

  nav a {
    display: inline-block;
    border-bottom: none;
    font-size: 20px;
    padding: 10px 10px;
  }

  .logo {
    margin-left: 200px;
  }

  .logo img {
    width: 90px;
    height: 90px;
  }
}
.container-footer {
  width: 100%;
  /* max-width: 1920px; */
  /* height: 162px; */
  background-color: #F3D7AA;
  margin-top: 30px;
  position: relative;
}

.footer-logo {
  text-align: center;
  padding-bottom: 200px;
}

.footer-logo img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}

.footer-colum {
  position: absolute;
  top: 100px;
  right: 100px
}

.footer-text {
  display: flex;
  margin-bottom: 13px;
  font-size: 16px;
  justify-content: center;
  width: fit-content;
  font-family: "Noto Sans TC";
}

.footer-icon {
  /* padding-top: 5px; */
  /* padding-left: 120px; */
  /* padding-bottom: 15px; */
  text-align: center;
  position: absolute;
  top: 220px;
  right: 150px
}

.footer-icon img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (min-width:768px) {
  .container-footer {
    display: flex;
  }

  .footer-logo {
    padding-bottom: 30px;
  }

  .footer-logo img {
    margin-left: 200px;
    /* margin-right: 30px; */
    margin-top: 15px;
    width: 132px;
    height: 132px;
  }

  .footer-colum {
    position: absolute;
    top: 30px;
    right: 250px;

  }

  .footer-text {
    font-size: 20px;
    justify-content: start;
  }

  .footer-icon {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .footer-icon img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }