@media screen and (min-width:768px) {
  body {
    background-image: url(picture/back/left.png);
    background-repeat: no-repeat;
    background-position: left 20px bottom 900px;
    /* 調整左下腳印 */
    background-size: 35%;
  }
}

.banner {
  margin-top: 35px;
  background-image: url(picture/back/banner.jpg);
  width: 100%;
  /* max-width: 1920px; */
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover;
  /* 圖片填滿容器 */
  background-position: center;
  /* 圖片置中 */
  position: relative;
  /* 設置相對定位，方便子元素絕對定位 */
  display: flex;
  /* 使用 Flexbox 來佈局內容 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.banner h1 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: white;
  background-color: hsla(0, 13%, 22%, 0.2);
  /* background: radial-gradient(circle at center, #ffffff33, #f2f2f24d); */
  padding: 5px 20px;
  border: 0px solid #ffffff00;
  border-radius: 10px;
  letter-spacing: 1.2px;
  line-height: 25px;
  font-family: "Noto Sans TC";
}

@media screen and (min-width:768px) {
  .banner {
    height: 550px;
    /* margin-top: 150px; */
  }

  .banner h1 {
    font-size: 30px;
    right: 50px;
    bottom: 20px;
    padding: 10px 60px;
    border-radius: 30px;
    letter-spacing: 6px;
    line-height: 70px;
  }
}

.container-about {
  width: 100%;
  /* max-width: 1920px; */
  height: 550px;
  background-image: url(picture/back/brushed-alum-dark-1920x10802.png);
  background-size: cover;
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-pic {
  margin-top: 40px;
}

.about-pic img {
  width: 224px;
  height: 198px;
}

.about-text {
  padding: 0 20px;
}

.about-text h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans TC";
  letter-spacing: 1.2px;
}

.about-text p {
  /* margin: auto; */
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
  padding: 0px 20px;
  font-family: "Noto Sans TC";
}

.about-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 8px 1px;

}

.about-more a,
.serve-more a {
  color: #000000;
  text-decoration: none;
  font-family: "Noto Sans TC";
}

.about-more:hover,
.serve-more:hover {
  background-color: #F4906B;
}

@media screen and (min-width:768px) {
  .container-about {
    height: 600px;
    background-image:
      url(picture/back/right.png), url(picture/back/brushed-alum-dark-1920x10802.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: right 40px bottom -30px, center;
    background-size: 30%, cover;
  }

  /* .about-flex{display: flex;} */
  .about-pic img {
    width: 502px;
    height: 444px;
    margin-top: 0px;
    margin-left: 50px;
  }

  .about-flex {
    flex-direction: row;
  }

  .about-text {
    margin-top: 130px;
    position: relative;
    padding: 0 25px;
  }

  .about-text h2 {
    justify-self: flex-start;
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 4.8px;
  }

  .about-text p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 60px;
  }

  .about-more {
    width: 150px;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    right: 60px;
    top: 300px;
  }
}

/* @media screen and (width>1280px){
  .container-about{
    padding: 0 80px;
}  
    .about-more{
    width: 170px;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute; 
    right: 100px;
    top: 350px;
  }
} */
.container-serve {
  width: 100%;
  margin-top: 40px;
}

.title h2 {
  margin-top: 67px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.2px;
  font-family: "Noto Sans TC";
}

.serve-pic {
  width: 250px;
  height: 250px;
  border: 2px solid #FFBCA3;
  border-radius: 50%;
  box-shadow: 0 1px 2px #F4906B;
  background-color: #F8E7CD;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;

}

.serve-pic img {
  width: 140px;
  height: 140px;
  margin-top: 45px;
}

.serve-pic p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  letter-spacing: 1.2px;
  font-family: "Noto Sans TC";
}

.serve-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px 8px;
  font-family: "Noto Sans TC";
}

@media screen and (min-width:768px) {
  .serve h2 {
    margin-top: 67px;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 4.8px;
  }

  .serve-pic-flex {
    display: flex;
    /* margin-left: 300px; */
    margin-bottom: 60px;
  }

  .serve-pic img {
    width: 130px;
    height: 130px;
    margin-top: 45px;
  }

  .serve-pic p {
    font-size: 20px;
    margin-top: 7px;
    letter-spacing: 4.8px;
  }

  .serve-more {
    width: 150px;
    margin-left: 500px;
    font-size: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: auto;
  }
}

.container-faq-box {
  width: 100%;
  max-width: 1000px;
  background: rgba(235, 218, 197, 0.8);
  vertical-align: middle;
  margin-top: 67px;
  border: 1px solid rgba(235, 218, 197, 0.8);
  border-radius: 10px;
  position: relative;
}

/* FAQ 外層 */
.faq-item {
  padding: 10px 0;
}

/* 隱藏 checkbox */
.faq-item input {
  display: none;
}

.faq-item h2 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  /* margin-left: 423px; */
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: "Noto Sans TC";
}

/* 問題文字與箭頭 */
.faq-label {
  margin-left: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family: "Noto Sans TC";
  letter-spacing: 1.2px;
  font-weight: bold;
  padding-top: 30px;
}

/* 下箭頭符號 */
.faq-label::after {
  content: "";
  transition: transform 0.3s;
  width: 20px;
  height: 20px;
  background-image: url("picture/icon/dome.png");
  background-size: contain;
  /* 或 cover:鋪滿背景，不留空白 ,contain:整張塞進框裡，不裁剪;,控制背景圖片縮放*/
  background-repeat: no-repeat;
  vertical-align: middle;
  /* 讓圖跟文字對齊 */
  margin-right: 39px;
}

/* 如果被打開（checked），箭頭轉向上 */
.faq-item input:checked+.faq-label::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("picture/icon/up.png");
  background-size: contain;
  /* 或 cover */
  background-repeat: no-repeat;
  vertical-align: middle;
  /* 讓圖跟文字對齊 */
}

/* 答案區塊預設隱藏 */
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Noto Sans TC";
  letter-spacing: 1.2px;
  margin-left: 44px;
  margin-top: 20px;
}

/* 被打開時顯示內容 */
.faq-item input:checked~.faq-content {
  max-height: 200px;
}

.faq-cat img {
  width: 150px;
  height: 203px;
  bottom: 24px;
  margin-left: 130px;
}

@media screen and (min-width:768px) {
  .container-faq-box {
    margin: auto;
    margin-top: 67px;
  }

  .faq-item h2 {
    font-size: 30px;
    margin: 40px;
    text-align: center;
    letter-spacing: 4.8px;
  }

  .faq-label::after {
    margin-right: 173px;
  }

  .faq-label {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    padding-top: 30px;
  }

  .faq-content {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    margin-top: 27px;
  }

  .faq-cat img {
    position: absolute;
    width: 288px;
    height: 390px;
    bottom: -80px;
    left: -200px;
  }
}

.map-container {
  width: 100%;
  /* max-width: 1920px; */
  margin-top: 67px;
  margin-bottom: 0;
  transform: translateY(33px);
}
