@media screen and (min-width:768px) {
  body {
    background-image: url(picture/back/left.png);
    background-repeat: no-repeat;
    background-position: left 20px bottom 900px;
    /* 調整左下腳印 */
    background-size: 35%;
  }
}

.noto-sans-tc-uniquifier {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.banner {
  margin-top: 35px;
  background-image: url(picture/back/banner.jpg);
  width: 100%;
  /* max-width: 1920px; */
  height: 225px;
  background-repeat: no-repeat;
  background-size: cover;
  /* 圖片填滿容器 */
  background-position: center;
  /* 圖片置中 */
  position: relative;
  /* 設置相對定位，方便子元素絕對定位 */
  display: flex;
  /* 使用 Flexbox 來佈局內容 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.banner h1 {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: white;
  background-color: hsla(0, 13%, 22%, 0.2);
  /* background: radial-gradient(circle at center, #ffffff33, #f2f2f24d); */
  padding: 5px 20px;
  border: 0px solid #ffffff00;
  border-radius: 10px;
  letter-spacing: 1.2px;
  line-height: 28px;

}

@media screen and (min-width:768px) {
  .banner {
    height: 550px;
    /* margin-top: 150px; */
  }

  .banner h1 {
    font-size: 30px;
    right: 50px;
    bottom: 80px;
    padding: 10px 60px;
    border-radius: 30px;
    letter-spacing: 6px;
    line-height: 50px;
  }
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
}

.about-pic {
  margin-top: 40px;
  z-index: 3;
}

.about-pic img {
  width: 314px;
  height: 209px;
  border-radius: 20px;
}

.about-text {
  background-color: #fff4e285;
  transform: translateY(-50PX);
  border-radius: 10px;
  padding: 0 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.about-text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  padding: 0px 20px;
}

.about-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  font-size: 20px;
  text-align: center;
  padding: 8px 1px;
  margin-top: 25px;
}

.about-more a,
.serve-more a {
  color: #000000;
  text-decoration: none;

}

.about-more:hover,
.serve-more:hover {
  background-color: #F4906B;
}

@media screen and (min-width:768px) {
  .container-about {
    background-image:
      url(picture/back/right.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: right 10px bottom -30px;
    background-size: 30%;
  }

  .about-pic {
    margin-top: 20px;
  }

  .about-pic img {
    width: 455px;
    height: 303px;
  }

  .about-flex {
    flex-direction: row;
    justify-content: center;
  }

  .about-text {
    width: 550px;
    margin-top: 130px;
    padding: 0 40px;
    transform: translateY(30px);
    transform: translateX(-30px);
  }

  .about-text h2 {
    justify-self: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 4.8px;
  }

  .about-text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
    /* padding: 0 80px; */
 
  }

  .about-more {
    font-size: 25px;
    padding: 15px 40px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}
@media screen and (min-width:1440px) {
   .about-pic img {
    width: 617px;
    height: 411px;
  }

}
.container-serve {
  margin-top: 30px;
}

.serve-flex{
  display: flex;
  flex-direction: column;
}

.title h2 {
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.2px;
}

.serve-pic {
  width: 250px;
  height: 250px;
  border: 2px solid #FFBCA3;
  border-radius: 50%;
  box-shadow: 0 1px 2px #F4906B;
  background-color: #F8E7CD;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;

}

.serve-pic img {
  width: 140px;
  height: 140px;
  margin-top: 45px;
}

.serve-pic p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  letter-spacing: 1.2px;

}

.serve-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px 8px;

}

@media screen and (min-width:768px) {
 .container-serve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 }
 
  .serve{
  width: 960px;
  align-self: center;
 }

  .serve-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
  .serve h2 {
    margin-top: 67px;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 4.8px;
  }

  .serve-pic img {
    width: 130px;
    height: 130px;
    margin-top: 45px;
  }

  .serve-pic p {
    font-size: 20px;
    margin-top: 7px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  .serve-more {
  font-size: 25px;
    padding: 15px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.container-faq-box {
  width: 100%;
  max-width: 960px;
  background: rgba(235, 218, 197, 0.8);
  vertical-align: middle;
  margin-top: 67px;
  border: 1px solid rgba(235, 218, 197, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* FAQ 外層 */
.faq-item {
  padding: 2px 0;
  margin-left: -10px;
  margin-right: 20px;
}

/* 隱藏 checkbox */
.faq-item input {
  display: none;
}

.faq-item h2 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  /* margin-left: 423px; */
  font-weight: bold;
  letter-spacing: 1.2px;

}

/* 問題文字與箭頭 */
.faq-label {
  margin-left: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding-top: 10px;
}

/* +符號 */
.faq-label::after {
  content: "+";
  transition: transform 0.3s ease;
   font-size: 20px;
}

/* 如果被打開（checked），- */
.faq-item input:checked+.faq-label::after {
  content: "-";
  font-size: 20px;
}

/* 答案區塊預設隱藏 */
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin-left: 44px;
  margin-top: 10px;
  color: #2a2a2a;
}

/* 被打開時顯示內容 */
.faq-item input:checked~.faq-content {
  max-height: 100px;
}

.faq-cat{
  text-align: center;
}

.faq-cat img {
  width: 150px;
  height: 203px;
}

@media screen and (min-width:768px) {
  .container-faq-box {
    margin: auto;
    margin-top: 67px;
    position: relative;
  }

  .faq-item h2 {
    font-size: 30px;
    margin: 40px;
    text-align: center;
    letter-spacing: 4.8px;
  }

  .faq-label::after {
    margin-right: 100px;
    font-size: 25px;
  }

  .faq-item input:checked+.faq-label::after {
  font-size: 30px;
}

  .faq-label {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    padding-top: 20px;
  }

  .faq-content {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    margin-top: 15px;
  }

  .faq-cat{
    position: absolute;
    top:90px;
    left: -70px;
  }

  .faq-cat img {
    width: 268px;
    height: 370px;
  }

  /* .container-faq-box .faq-item:nth-last-child(-n+2) {
  padding-bottom: 50px;
} 選取倒數第二個物件 */
  .container-faq-box .faq-item:nth-child(4 of .faq-item) {
    padding-bottom: 50px;
  }
}

.map-container {
  width: 100%;
  /* max-width: 1920px; */
  margin-top: 67px;
  margin-bottom: 0;
  transform: translateY(33px);
}