
.noto-sans-tc-uniquifier {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.banner {
  margin-top: 35px;
  background-image: url(picture/back/banner2.jpg);
  width: 100%;
  /* max-width: 1920px; */
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  /* 圖片填滿容器 */
  background-position: center;
  /* 圖片置中 */
  position: relative;
  /* 設置相對定位，方便子元素絕對定位 */
  display: flex;
  /* 使用 Flexbox 來佈局內容 */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.banner h1 {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: white;
  background-color: hsla(0, 13%, 22%, 0.2);
  /* background: radial-gradient(circle at center, #ffffff33, #f2f2f24d); */
  padding: 5px 20px;
  border: 0px solid #ffffff00;
  border-radius: 10px;
  letter-spacing: 1.2px;
  line-height: 28px;

}

@media screen and (min-width:1024px) {
  .banner {
    height: 550px;
    /* margin-top: 150px; */
  }

  .banner h1 {
    font-size: 30px;
    right: 50px;
    bottom: 80px;
    padding: 10px 60px;
    border-radius: 30px;
    letter-spacing: 6px;
    line-height: 50px;
  }
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 42px;
}

.about-pic {
  margin-top: 40px;
  z-index: 3;
}

.about-pic img {
  width: 314px;
  height: 209px;
  border-radius: 20px;
}

.about-text {
  background-color: #fff4e285;
  border-radius: 10px;
  padding: 0 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.about-text h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.about-text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  padding: 0px 20px;
}

.about-more {
  width: 90px;
  /* height: 40px; */
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  font-size: 20px;
  text-align: center;
  padding: 8px 1px;
  margin-top: 25px;
}

.about-more a,
.serve-more a {
  color: #000000;
  text-decoration: none;

}

.about-more:hover,
.serve-more:hover {
  background-color: #F4906B;
}

/*動畫區*/
.scroll-about{
  overflow: hidden;
}

.about-left,
.about-right {
    opacity: 0;
    transition: all 1s ease-out;
}

/* 左邊圖片 */
.about-left {
    transform: translateX(-30%);
}
.about-left.show {
    transform: translateX(0);
    opacity: 1;
}

/* 右邊文字 */
.about-right {
    transform: translateX(30%);
}
.about-right.show {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width:768px) {
  .container-about {
    background-image:
      url(picture/back/right.png);
    /* 右上腳印 */
    background-repeat: no-repeat;
    background-position: right 10px bottom -10px;
    background-size: 30%;
  }
}

@media screen and (min-width:1024px) {
  .container-about {
    background-position: right 10px bottom -30px;
  }

  .about-pic {
    margin-top: 20px;
  }

  .about-pic img {
    width: 455px;
    height: 303px;
  }

  .about-flex {
    flex-direction: row;
    justify-content: center;
  }

  .about-text {
    width: 550px;
    margin-top: 130px;
    padding: 0 40px;
    /* transform: translateY(30px);
    transform: translateX(-30px); */
    margin-left: -30px;
  
  }

  .about-text h2 {
    justify-self: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    letter-spacing: 4.8px;
  }

  .about-text p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.2px;
    /* padding: 0 80px; */

  }

  .about-more {
    font-size: 25px;
    padding: 15px 40px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}

@media screen and (min-width:1440px) {
  .about-pic img {
    width: 617px;
    height: 411px;
  }

}

.container-serve {
  margin-top: 50px;
}

.serve-flex {
  display: flex;
  flex-direction: column;
}

.title h2 {
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.2px;
}

.serve-pic {
  /* width: 250px;
  height: 250px;
  border: 2px solid #FFBCA3;
  border-radius: 50%;
  box-shadow: 0 1px 2px #F4906B;
  background-color: #F8E7CD;
  text-align: center;
  margin: auto; */
  margin-bottom: 30px;
  perspective: 1000px;/* 數值 越大 → 透視效果越平緩，看起來比較接近平面旋轉 */
  
  /* 初始：略帶隱藏與位移，等進視窗再翻 */
  opacity: 0;
  transform: translateY(30px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*動畫*/
.card-inner {
  width: 250px;
  height: 250px;
  border: 2px solid #FFBCA3;
  border-radius: 50%;
  box-shadow: 0 1px 2px #F4906B;
  background-color: #F8E7CD;
  text-align: center;
  display: flex;
  flex-direction: column; /* 圖片在上，文字在下 */
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d; /* 沒有這行的話，子元素的 3D 旋轉會被「壓扁」成平面，看不到立體感。 */
  backface-visibility: hidden;/* 隱藏元素的「背面」。  當卡片旋轉到背面時，不會看到鏡像或反轉的正面，而是直接隱藏，讓翻卡效果更自然。 */
  transition: transform 900ms cubic-bezier(.2,.8,.2,1), opacity 400ms ease, filter 400ms ease;
  transform: rotateY(-180deg);
  /* CSS 裡，filter 是一個用來對元素套用「圖像處理效果」的屬性,,cubic-bezier(.2,.8,.2,1)是一條自訂的加速曲線，讓翻卡動畫前半段快速完成，後半段慢慢收尾，看起來更柔和自然。
 */
}
.serve-pic img {
  width: 140px;
  height: 140px;
}

.serve-pic p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  letter-spacing: 1.2px;
}

/* 觸發翻卡：rotateY 回正 + 顯示 */
.serve-pic.flip {
  opacity: 1;
  transform: translateY(0);
}
.serve-pic.flip .card-inner {
  transform: rotateY(0deg);
  /* rotateY 表示沿著 Y 軸（水平方向的垂直軸）旋轉。 */
  filter: brightness(1);
  /* brightness(1) 表示亮度維持原本的 100%（正常亮度） */
}


/* 依序延遲，讓三張圖不是同時翻（僅首次） */
.serve-pic[data-index="1"].flip .card-inner { transition-delay: 0ms; }
.serve-pic[data-index="2"].flip .card-inner { transition-delay: 150ms; }
.serve-pic[data-index="3"].flip .card-inner { transition-delay: 300ms; }

.serve-more {
  width: 90px;
  border: 1px solid #FFBCA3;
  border-radius: 45px;
  background-color: #FFBCA3;
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 10px 8px;
}

@media screen and (min-width:768px) {
  .card-inner {
  width: 200px;
  height: 200px;
 
  }
  .serve-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  .serve-pic img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width:1024px) {
  .container-serve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .card-inner {
  width: 250px;
  height: 250px;
  }

  .serve {
    width: 960px;
    align-self: center;
  }

  .serve-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .serve h2 {
    margin-top: 67px;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 4.8px;
  }


  .serve-pic img {
    width: 130px;
    height: 130px;
    transition: all 0.5s ;
  }

  .serve-pic p {
    font-size: 20px;
    margin-top: 7px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  .serve-more {
    font-size: 25px;
    padding: 15px 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .serve-pic:hover img{
    width: 160px;
    height: 160px;
  }
  .serve-pic:hover p{
    opacity: 0;
  }
}

.container-faq-box {
  width: 100%;
  max-width: 960px;
  background: rgba(235, 218, 197, 0.5);
  vertical-align: middle;
  margin-top: 67px;
  border: 1px solid rgba(235, 218, 197, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* FAQ 外層 */
.faq-item {
  padding: 2px 0;
  margin-left: -10px;
  margin-right: 20px;
}

/* 隱藏 checkbox */
.faq-item input {
  display: none;
}

.faq-item h2 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  /* margin-left: 423px; */
  font-weight: bold;
  letter-spacing: 1.2px;

}

/* 問題文字與箭頭 */
.faq-label {
  margin-left: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.2px;
  font-weight: 600;
  padding-top: 10px;
}

/* +符號 */
.faq-label::after {
  content: "+";
  transition: transform 0.3s ease;
  font-size: 20px;
}

/* 如果被打開（checked），- */
.faq-item input:checked+.faq-label::after {
  content: "-";
  font-size: 20px;
}

/* 答案區塊預設隱藏 */
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin-left: 44px;
  margin-top: 10px;
  color: #2a2a2a;
}

/* 被打開時顯示內容 */
.faq-item input:checked~.faq-content {
  max-height: 200px;
}

.faq-foot img{
  display: none;
}

  .container-faq-box .faq-item:nth-child(4 of .faq-item) {
    padding-bottom: 20px;
  }

@media screen and (min-width:768px) {
  .container-faq-box .faq-item:nth-child(4 of .faq-item) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width:1024px) {
  .container-faq-box {
    margin: auto;
    margin-top: 67px;
    position: relative;
  }

  .faq-item h2 {
    font-size: 30px;
    margin: 40px;
    text-align: center;
    letter-spacing: 4.8px;
  }

  .faq-label::after {
    margin-right: 100px;
    font-size: 25px;
  }

  .faq-item input:checked+.faq-label::after {
    font-size: 30px;
  }

  .faq-label {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    padding-top: 20px;
  }

  .faq-content {
    font-size: 20px;
    letter-spacing: 4.8px;
    margin-left: 205px;
    margin-top: 15px;
  }

  .faq-foot {
    position: absolute;
    top: 90px;
    left: -120px;
    z-index: -1;
  }

  .faq-foot img {
    display: block;
    width: 400px;
  }

  /* .container-faq-box .faq-item:nth-last-child(-n+2) {
  padding-bottom: 50px;
} 選取倒數第二個物件 */
  .container-faq-box .faq-item:nth-child(4 of .faq-item) {
    padding-bottom: 50px;
  }
}

.map-container {
  width: 100%;
  /* max-width: 1920px; */
  margin-top: 67px;
  margin-bottom: 0;
  transform: translateY(33px);
}

/* 動畫容器 */
#intro-anim {
    position: fixed;     /* 關鍵 ,讓畫面固定*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
    pointer-events: none; /* 元素不會響應任何滑鼠事件，事件會穿透到下面的元素  */
}

/* 三張圖片要能自由位置→一定要 absolute */
.intro-img {
    position: absolute;
    transition: all 1.2s ease-in-out;
}

/* 初始位置（在螢幕外）*/
.dog { left: -250px; top: 50%; transform: translateY(-50%); width: 200px; }
.cat { right: -250px; top: 50%; transform: translateY(-50%); width: 200px; }
.house { left: 50%; top: -500px; transform: translateX(-50%); width: 450px; }

/* 聚集到中央 */
.dog.intro-center {
    left: 45% !important;
    top: 60% !important;
    transform: translate(-45%, -45%) scale(1) !important; /*scale 縮放大小*/
}

.cat.intro-center {
    left: 55% !important;
    top: 60% !important;
    transform: translate(-45%, -45%) scale(1) !important;
}

.house.intro-center {
    left: 50% !important;
    top: 60% !important;
    transform: translate(-50%, -65%) scale(1) !important;
}

/* 縮小成左上角 Logo 加在js */
.to-logo {
    left: 20% !important;
    top: 23.5px !important;
    transform: translate(-50%, -50%) scale(0.1) !important;
    opacity: 0;
}

/* 主內容淡入 */
/* #main-content {
    opacity: 0;
    transition: opacity 2.5s ease;
} */

/* Banner 淡出 */
.banner.fade-out {
    opacity: 0.2;        /* 淡到 20% */
    transition: opacity 1.5s ease;
}

/* 動畫完恢復 */
.banner.fade-in {
    opacity: 1;
    transition: opacity 1.2s ease;
}
