.noto-sans-tc-uniquifier {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.banner {
  /* max-width: 1920px; */
  margin-top: 35px;
  background-image:
    url(picture/back/cat.png),
    linear-gradient(to left, rgba(244, 144, 107, 0.5), rgba(255, 255, 255, 0.2));

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;

  background-position:
    bottom right 10px,
    center,
    bottom center;

  /* 👇這裡設定每一層的大小 */
  background-size:
    30%,
    /* 第一層圖片縮小到容器寬度的 40% */
    100%;
}

.banner-text {
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  position: relative;
}

.banner-text small {
  display: none;
  color: #242424;
  font-weight: 500;
}

@media screen and (min-width:768px) {
  .banner {
    background-position:
      bottom right,
      center;
    background-size:
      25%,
      /* 第一層圖片縮小到容器寬度的 40% */
      100%;
  }

  .banner-text {
    padding: 80px;
    margin-left: 10px;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 20px;
  }

  .banner-text small {
    display: block;
    color: #242424;
    font-size: 16px;
    position: absolute;
    bottom: 50px;
    left: 80px;
    font-weight: 500;
  }
}

@media screen and (min-width:1024px) {
  .banner {
    /* margin-top: 150px; */
    background-size:
      20%,
      100%;
    background-position:
      bottom right 80px,
      center;
  }

  .banner-text {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 80px;
  }
  .banner-text small {
    font-size: 20px;
    position: absolute;
    bottom: 40px;
  }
}
.container-medical{
  padding: 0 20px;
}
.wrap-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medical-card{
  box-sizing: border-box;
}
.medical-title h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.medical-pic {
  width: 270px;
  height: 270px;
  background-color: #F8E7CD;
  border: 1px solid #F4906B;
  box-shadow: 0 1px 2px #F4906B;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  transform: translateY(50px);
}

.medical-pic img {
  width: 140px;
  height: 145px;
  margin-top: 45px;
}

.medical-pic p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  list-style: 1.2px;
}

.medical-text {
  background-color: #c0e0bd;
  border: 1px solid #c0e0bd;
  border-radius: 20px;
  border-bottom: 5px solid #a0c49d;
  border-right: 3px solid #a0c49d;
  padding: 30px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

.medical-text p {
  width: fit-content;
  padding: 0 20px;
  letter-spacing: 1.2px;
  line-height: 28px;
}

.medical-text p:nth-child(1) {
  margin-top: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
.medical-card a{
  text-decoration: none;
  color: black;
}

.more-flex{
  align-self: flex-end;
  margin: 10px 30px 0 0;
}

.more-flex a{
  display: block;
  font-weight: 300;

}

/*動畫*/
.to-top{
  opacity: 0;
  transform: translateY(30%);
  transition:  opacity 1s ease-out, transform 1s ease-out;
}

.to-top.show{
  opacity: 1;
  transform: translateY(0);
}



@media screen and (min-width:768px){
   .container-medical {
    padding: 0 80px;
    background-image:
      url(picture/back/right.png),
      /* 右上腳印 */
      url(picture/back/lift.png);
    /* 左下腳印 */

    background-repeat: no-repeat, no-repeat;

    background-position:
      right 20px top 30px,
      /* 調整右上腳印 */
      left 10px bottom 300px;
    /* 調整左下腳印 */

    background-size:
      50%,
      /* 右上腳印大小 */
      50%;
    /* 左下腳印大小 */
}


.medical-card {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
 
}
@media screen and (min-width:1024px) {
  .container-medical{
    padding: 0 20px;
    background-position:
    right 40px top 30px,
    left 10px bottom 300px;
    background-size:
    30%;
    
  }
  .medical-title h2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4.8px;
  }

  .wrap-flex{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .medical-card {
    width: 350px;
    display: flex;
    flex-direction: column;
  }


  .medical-text {
    line-height: 30px;
    letter-spacing: 3px;
    transition: color .5s .1s;
    transition: transform .5s .1s;
    transform: translateY(0);
    font-size: 20px;
  }

  .medical-text:hover {
    /* color: rgb(65, 55, 55); */
    transform: translateY(-10px);
  }

  .medical-pic{
    z-index: 1;
  }

  .more-flex a{
    font-size: 20px;
  }

  .more-flex a:hover{
    color: #f07346;
    font-weight: 500;
    text-decoration: underline;
  }

}
